<div class="sidenav-back-color d-none d-sm-block">
  <div class="sidenav-large-content">
    <ul class="nav nav-pills flex-column">
      <li class="btn btn-light sidebar-text d-flex justify-content-center" (click)="getUserdata()" routerLink='/userdetails'>
          Personal Information
      </li>
      <li class="btn btn-light sidebar-text d-flex justify-content-center" routerLink='/carrybag'>
          Carry Bag
      </li>
      <li class="btn btn-light sidebar-text d-flex justify-content-center" routerLink='/wishlist'>
        Wish List
        </li>
      <li class="btn btn-light sidebar-text d-flex justify-content-center">
        Subscriptions
      </li>
      <li class="btn btn-light sidebar-text d-flex justify-content-center">
          Add Offers
        </li>
    </ul>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light d-block d-sm-none">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item sidebar-text" (click)="getUserdata()" routerLink='/userdetails'>
        Personal Information
      </li>
      <li class="nav-item sidebar-text">
        Carry Bag
      </li>
      <li class="nav-item sidebar-text" routerLink='/wishlist'>
        Wish List
      </li>
      <li class="nav-item sidebar-text">
        Subscriptions
      </li>
      <li class="nav-item sidebar-text">
        Add Offers
      </li>
    </ul>
  </div>
</nav>